<h1 id="homePageTitle">SwapShop <i class="fa fa-retweet fa-2x" aria-hidden="true"></i></h1>
<br>
<h2 class="options">New user? Please sign up <a href="/signup">here.</a></h2>

<h2 class="options">Already a member? Please sign in <a href="/login">here.</a></h2>

