<h1>Add an item to your SwapShop!</h1>

<form class="create-update-form" action="/" method="POST">
  <div class="form-group">
    <label for="itemName">Name of Item:</label>
    <input type="text" id="itemName" name="itemName">
    <label for="description">Description:</label>
    <input type="text" id="description" name="description">
    <label for="imageLink">Image Link:</label>
    <input type="text" id="imageLink" name="imageLink">
    <label for="active">Active?</label>
    <input type="radio" name="active" value="active">Yes<br>
    <input type="radio" name="inactive" value="active">No<br>
    <label for="for_swap">For swap?</label>
    <input type="radio" name="for_swap" value="swap">Yes<br>
    <input type="radio" name="not_swap" value="noSwap">No<br>
    <label for="for_sale">For sale?</label>
    <input type="radio" name="for_sale" value="sale">Yes<br>
    <input type="radio" name="noSale" value="noSale">No<br>
    <label for="value">Value (in dollars):</label>
    <input type="text" id="value" name="value">
    <label for="public">Public?</label>
    <input type="radio" name="public" value="public">Yes<br>
    <input type="radio" name="private" value="private">No<br>
  </div>
  <button type="submit">Sign up!</button>
</form>

