<h1 id="enterInfo">Login</h1>

<br>

<div class="col-sm-4"></div>

<form class="userLoginForm">
  <div class="form-group col-sm-4">
    <label for="id">User Id:</label><br>
    <input type="id" id="userId" name="is"><br>
    <button type="submit"><br>
  </div>
</form>